# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv
venv/
ENV/

# PyTorch / Hugging Face cache
.cache/
checkpoints/

# Node
node_modules/
.pnp
.pnp.js
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Vite
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
